<div {{ attributes }}>
    {{ form_start(form, {
        attr: {
            'data-action': 'live#action:prevent',
            'data-live-action-param': 'addInvite' } }) }}
    <div>
        {{ form_row(form.receiverEmail) }}
    </div>
    {{ form_end(form) }}
</div>
