<div {{ attributes }}>
    {{ form_start(form, {
        attr: {
            'data-action': 'live#action:prevent',
            'data-live-action-param': 'addInvite' } }) }}
    <div>
        {{ form_row(form.receiverEmail) }}
    </div>
    {{ form_end(form) }}

    {% if emailSent %}
        <div class="alert alert-success" role="alert">
            L'invitation a été envoyée avec succès !
        </div>
    {% endif %}
</div>