{% extends 'security/email/base.html.twig' %}

{% block body %}
    <p>
        {{ "mailer.register.body"|trans({'%signedUrl%': signedUrl, '%signedUrlLabel%': 'mailer.register.confirm_my_email'|trans , '%expiresAtMessageKey%': expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle')})|raw|nl2br }}
    </p>
{% endblock %}