{% extends 'base.html.twig' %}

{% trans_default_domain 'security' %}
{% block title %}{{ 'reset_password.password_reset_email_sent_title'|trans }}{% endblock %}

{% block body %}
    <div class="container col-10 mt-3">
    <p>
        {{ 'reset_password.password_reset_email_sent'|trans({'%expiresAt%': resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, "ResetPasswordBundle") }) }}
    </p>
    <p>
        {{ 'reset_password.check_your_spam'|trans({'%href%': path('app_forgot_password_request') })|raw }}
    </p>
    </div>
{% endblock %}
