<div class="card-body px-5">
    <h2 class="fs-5">{{ 'preferences.account'|trans }}</h2>
    <div class="mb-3">
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
    </div>

    <button type="button" class="btn border-dark" data-bs-toggle="modal" data-bs-target="#changePasswordModal">
        {{ 'preferences.btnChange' |trans }}
    </button>

    {% include 'preferences/modal.html.twig' %}
</div>
