<div class="card-body px-5">
    {{ form_start(languages_form) }}
    {{ form_widget(languages_form.language) }}
    {{ form_widget(languages_form.submit) }}
    {{ form_end(languages_form) }}
</div>
