<div class="card-body px-5">
    <h2 class="fs-5">{{ 'preferences.manage_vendor' | trans }}</h2>
    {{ component('VendorInvitation:InviteForm') }}
    {{ component('VendorInvitation:AccountCounter') }}
    {{ component('VendorInvitation:InvitationList') }}
</div>