<div class="container mt-4">
    <nav>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="nav-profile-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-profile"
                        type="button" role="tab" aria-controls="nav-profile" aria-selected="true">Profil
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="nav-security-tab" data-bs-toggle="tab" data-bs-target="#nav-security"
                        type="button" role="tab" aria-controls="nav-security" aria-selected="false">Security
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="nav-preferences-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-preferences"
                        type="button" role="tab" aria-controls="nav-preferences" aria-selected="false">Préférences
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="nav-subs-tab" data-bs-toggle="tab" data-bs-target="#nav-subs"
                        type="button" role="tab" aria-controls="nav-subs" aria-selected="false">Abonnement
                </button>
            </li>
        </ul>
    </nav>
    <div class="tab-content mt-3" id="nav-tabContent">
        <div class="tab-pane show active card" id="nav-profile" role="tabpanel"
             aria-labelledby="nav-profile-tab">
            {% include 'components/PreferencesAccount.html.twig' with {'form': preferences_form} %}
        </div>
        <div class="tab-pane card" id="nav-security" role="tabpanel" aria-labelledby="nav-security-tab">
            {% include 'components/PreferencesPassword.html.twig' with {'form': changeAccountPassword_form} %}
        </div>
        <div class="tab-pane card" id="nav-preferences" role="tabpanel" aria-labelledby="nav-preferences-tab">
            {% include 'components/PreferencesLanguage.html.twig' %}
        </div>
        <div class="tab-pane card" id="nav-subs" role="tabpanel" aria-labelledby="nav-subs-tab">
            {% include 'components/PreferencesSubscription.html.twig' %}
        </div>
    </div>
</div>
