{% extends 'base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script type="module">
        import '{{ asset('js/index.js') }}';
    </script>
{% endblock %}

{% block body %}
    {% include 'login/modal.html.twig' %}
    <main>
        <div class="container-fluid">
            <h1 class="text-capitalize text-primary">
                MYSECU <br>
                reach a world of possibilities.
            </h1>
            <p class="my-3 text-light">
                Notre plateforme vous permet de vous connecter avec les <br> meilleurs professionnels
                de la cybersécurité et de collaborer sur des solutions efficientes.
            </p>
        </div>
    </main>
{% endblock %}