// @import "bootstrap/scss/functions";
// @import "bootstrap/scss/variables";
// @import "bootstrap/scss/utilities";
// @import "bootstrap/scss/bootstrap";

.btn-mysecu {
  --bs-btn-color: #fff;
  --bs-btn-bg: #011629;
  --bs-btn-border-color: #011629;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #011629;
  --bs-btn-hover-border-color: #0a58ca;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0a58ca;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
}

.btn-post-feed {
  --bs-btn-color: rgba(0, 0, 0, .5);
  --bs-btn-bg: #e5e5e5;
  --bs-btn-border-color: #e5e5e5;
  --bs-btn-hover-color: rgba(0, 0, 0, .5);
  --bs-btn-hover-bg: #5c636a27;
  --bs-btn-hover-border-color: #5c636a27;
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  --bs-btn-active-color: rgba(0, 0, 0, .5);
  --bs-btn-active-bg: #565e64;
  --bs-btn-active-border-color: #51585e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: rgba(0, 0, 0, .5);
  --bs-btn-disabled-bg: #e5e5e5;
  --bs-btn-disabled-border-color: #e5e5e5;
}

.btn-outline-dark-light-hover {
  --bs-btn-color: #212529;
  --bs-btn-border-color: #212529;
  --bs-btn-hover-color: #212529;
  --bs-btn-hover-bg: #2125291a;
  --bs-btn-hover-border-color: #2125291a;
  --bs-btn-focus-shadow-rgb: 33, 37, 41;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #212529;
  --bs-btn-active-border-color: #212529;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #212529;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #212529;
  --bs-gradient: none;
}

.ts-control {
  margin-top: 23px !important;
}

.toggle-password-button {
  margin-top: 40px;
  padding-right: 30px;
}

.preference.nav-link.active {
  color: #FFFFFF !important;
  background-color: #0b5ed7 !important;
}

.rounded-pill.show {
  --bs-border-radius-pill: 1rem 1rem 0 0 !important;
}

.account {
  width: 100%;
}

.account.dropdown-menu{
  --bs-dropdown-min-width: 0 !important;
}

.account.dropdown-menu.show {
  --bs-border-radius-xl: 0 0 1rem 1rem !important;
  --bs-dropdown-spacer: 0rem !important;
}

.img-post{
  position: absolute;
  width: 15%;
  transform: translate(-50%, -50%);
  top: 0;
  left: 50%;
}

.modal-post-feed{
  --bs-modal-margin: 5rem !important;
}

