<div class="m-2 d-flex flex-column border border-dark-subtle rounded-4 bg-body-tertiary ps-3 pt-2 pb-2">
    <p class="text-primary m-0 ">title[....]</p>
    <p class="fw-bold m-0 mb-2">date</p>
    <a href="#" class="text-primary small">{{ 'company.learn_more'|trans }}</a>
</div>