{% extends 'base.html.twig' %}

{% block body %}

    <div class="container d-flex flex-row justify-content-center">
        <div class="container col-3 d-flex flex-column m-2">
            <div class="container bg-white mb-3 rounded-2">
                <p>test</p>
            </div>
            <div class="container bg-white rounded-2">
                <p>test</p>
            </div>
        </div>
        <div class="container col-7 bg-white m-2 rounded-2">
            <p>test</p>
        </div>
        <div class="container col-2 bg-white m-2 ms-3 rounded-2">
            <p>test</p>
        </div>
    </div>

{% endblock %}