<div class="modal fade" tabindex="-1" id="createPostModal" data-controller="feed-post-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <twig:Feed:FormCreatePost />
      </div>
    </div>
  </div>
</div>