{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-light">403. Access Denied</h1>

    <p class="text-light">
        You do not have the necessary permissions to access this page.
    </p>
{% endblock %}

{% block footer %} {% endblock %}