{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-light">404. Page not found</h1>

    <p class="text-light">
        The page you are looking for could not be found.
    </p>
{% endblock %}

{% block footer %} {% endblock %}