{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-light">500. Internal Server Error</h1>

    <p class="text-light">
        An unexpected error occurred on the server. Please try again later.
    </p>
{% endblock %}

{% block footer %} {% endblock %}